spring.application.name=authenticationService

# MySQL connection
spring.datasource.url=jdbc:mysql://localhost:YOUR_PORT/YOUR_DB_NAME
spring.datasource.username=DB_USERNAME
spring.datasource.password=DB_PASSWORD

# JPA & Hibernate
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQL8Dialect

#SMTP Gmail
spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=YOUR_EMAIL
spring.mail.password=YOUR_APP_PASS
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true

#Google OAuth
spring.security.oauth2.client.registration.google.client-id=GOOGLE_CLIENT_ID
spring.security.oauth2.client.registration.google.client-secret=GOOGLE_CLIENT_SECRET
spring.security.oauth2.client.registration.google.scope=openid,profile,email
spring.security.oauth2.client.registration.google.redirect-uri={baseUrl}/login/oauth2/code/google
spring.security.oauth2.client.registration.google.client-name=Google

#Frontend Redirection - Modify this according to your frontend's end point
app.frontend.success-url=http://localhost:3000/auth/success?token=
app.auth.google.authorization-uri=/oauth2/authorization/google

#Authentication
auth.otp.expiration-minutes=10
spring.messages.basename=i18n/messages
spring.messages.encoding=UTF-8



